body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-image: url('fundo_home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*background: linear-gradient(to bottom, #000000, #990000);*/
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-container {
  text-align: center;
  max-width: 800px;
  padding: 20px;
}

h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

button {
  background-color: #990000;
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #000000;
}
